<div class="stats">
  <a href="<%= following_user_path(current_user) %>">
    <strong id="following" class="stat">
      <%= current_user.followed_users.count %>
    </strong>
    关注
  </a>
  <a href="<%= followers_user_path(current_user) %>">
    <strong id="followers" class="stat">
      <%= current_user.followers.count %>
    </strong>
    粉丝
  </a>
</div>